flask
sentence-transformers
torch
google-genai
beautifulsoup4
requests
selenium==4.9.0
2captcha-python
webdriver-manager
pymysql
sqlalchemy
python-dotenv
undetected-chromedriver==3.5.5
mysql-connector-python
psycopg2
SQLAlchemy==2.0.35
psycopg2
pydantic-settings==2.3.4
google-generativeai