application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

di:
    export:
        parameters: no
        tags: no

extensions:
    # console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    dbal: Nettrine\DBAL\DI\DbalExtension
    # dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension
    orm: Nettrine\ORM\DI\OrmExtension
    orm.attributes: Nettrine\ORM\DI\OrmAttributesExtension
    # orm.console: Nettrine\ORM\DI\OrmConsoleExtension
    migrations: Nettrine\Migrations\DI\MigrationsExtension
    nettrine.cache: Nettrine\Cache\DI\CacheExtension

# Подключение к БД лучше держать в local.neon; оставлю тут пример:


# Если используешь PHP-атрибуты в сущностях:
orm.attributes:
    mapping:
        App/Model/Database/Entity: %appDir%/Model/Database/Entity

# Если остаёшься на аннотациях — вместо блока выше используй это (и УДАЛИ orm.attributes):
# nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
# orm.annotations:
#     mapping:
#         App: %appDir%

migrations:
    table: doctrine_migration_versions
    directory: %appDir%/Migrations
    namespace: App\Migrations

nettrine.cache:
    driver: Doctrine\Common\Cache\PhpFileCache(%tempDir%/cache/doctrine)