{block content}
    <h1>API odpověď (HTTP {$status})</h1>

    {if $error}
        <div class="alert alert-danger">Chyba HTTP: {$error}</div>
    {/if}
    {if $data}
        <h3>Parsovaný JSON</h3>
        <pre>{$jsonPretty|noescape}</pre>
    {else}
        <h3>Surové tělo (ne-JSON nebo chyba)</h3>
        <pre>{$raw|escapeHtml}</pre>
    {/if}
{/block}